{% extends "layout.html" %}
{% block content %}
    <div class="banner d-flex justify-content-center align-items-center">
        <h1>Finance.</h1>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-4 d-flex justify-content-center">
                <h2 class="tracking-header d-flex flex-column">Tracking</h2>
            </div>
        </div>
        <div class="row justify-content-between me-5 ms-5">
            <div class="col p-5 d-flex flex-column">
                <i class="pb-3 fa-solid fa-chart-line fa-2x align-self-center"></i>
                <h3 class="align-self-center">Dashboard</h3>
                <p class="font-awesome-icons align-self-center fw-light">Simple and clean dashboard that has all the analytics you need to ensure quick and seamless decision's and tracking of finances.</p>
            </div>
            <div class="col p-5 d-flex flex-column">
                <i class="pb-3 fa-solid fa-money-bills fa-2x align-self-center"></i>
                <h3 class="align-self-center">Transactions</h3>
                <p class="font-awesome-icons align-self-center fw-light">Add, remove and edit all of your inputs is one place. Automatically calculates data in your dashboard for quick storage and seamless integration.</p>
            </div>
            <div class="col p-5 d-flex flex-column">
                <i class="pb-3 fa-regular fa-user fa-2x align-self-center"></i>
                <h3 class="align-self-center">Dashboard</h3>
                <p class="font-awesome-icons align-self-center fw-light">Quick and easy to use interface with no filler data. Move from tab to tab and page to page without the extra clutter. </p>
            </div>
        </div>
    </div>
{% endblock content %}